*{
    margin: 0;
    box-sizing: border-box;
}

header{
    height: 10vh;
    background-image: url("https://cdn.vox-cdn.com/thumbor/C1SdoDActSv8tPONx_OjwEobUjw=/0x0:1004x753/1200x800/filters:focal(0x0:1004x753)/cdn.vox-cdn.com/uploads/chorus_image/image/49523369/20150428-cloud-computing.0.jpg");
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
}

.main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80vh;
    background-image: url("https://stmed.net/sites/default/files/white-wallpapers-25354-5613360.jpg");
}

footer{
    height: 10vh;   
    background-color: black;
    color: white;
    text-align: center;
    line-height: 10vh;
}


button{
    width: 80px;
    height: 55px;
}

.red{
    background-color: red;
}